<div class="accordion {{ accordion.class }}">
  {% for item in accordion.items %}
    <div class="accordion__item {{ item.class }}">
      <h3 class="accordion__heading">
        {% view "@button" with {
          button: item.button|default({})|merge({
            class: "accordion__btn " ~ item.button.class
          })
        } %}
      </h3>

      {% if item.content %}
        <div
          {% if item.content.id %}id="{{ item.content.id }}"{% endif %}
          class="accordion__content {{ item.content.class }}"
          {{ item.content.attrs }}
          role="region"
        >

          {% if item.data.type == '@sidebar_accordion_list' %}
            {% view "^sidebar_accordion_list" with {
              sidebar_accordion_list: item.data.content
            } %}
          {% elseif item.data.type == '&slider' %}
            {% view "&slider" with {
              slider: item.data
            } %}
          {% elseif item.data.type == '^video' %}
            {% view "^video" %}
          {% elseif item.data.type == '&tabs_card' %}
            <ul class="tabs__card">
              {% for item in item.data.content.items %}
                <li class="tabs__card-item">
                  {% view "&tabs_card" with {
                    tabs_card: item
                  } %}
                </li>
              {% endfor %}
            </ul>
          {% elseif item.data.type == '^kind_franchise' %}
            {% view "^kind_franchise" %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>