<div class="accordion {{ accordion.class }}">
  {% for item in accordion.items %}
    <div class="accordion__item {{ item.class }}">
      <h3 class="accordion__heading">
        {% view "@button" with {
          button: item.button|default({})|merge({
            class: "accordion__btn " ~ item.button.class
          })
        } %}
      </h3>

      {% if item.content %}
        <section
          {% if item.content.id %}id="{{ item.content.id }}"{% endif %}
          class="accordion__content {{ item.content.class }}"
          {{ item.content.attrs }}
        >

          {% if item.data.type == '@sidebar_accordion_list' %}
            {% view "^sidebar_accordion_list" with {
              sidebar_accordion_list: item.data.content
            } %}
          {% endif %}
        </section>
      {% endif %}
    </div>
  {% endfor %}
</div>