<div class="sidebar-form {{ sidebar_form.class }}">
  <div class="sidebar-form__title">
    {{ sidebar_form.title }}
  </div>
  <p class="sidebar-form__subtitle">
    {{ sidebar_form.subtitle }}
  </p>
  <div class="sidebar-form__content">
    {% view "@image" with {
      image: sidebar_form.content.image|merge({
        class: "sidebar-form__content-img"
      })
    } %}

    <div class="sidebar-form__content-title">
      {{ sidebar_form.content.title }}
    </div>
  </div>
  <form class="sidebar-form__form" action="/" method="get">
    {% for input in sidebar_form.inputs %}
      {% view "@input" with {
        input: input
      } %}
    {% endfor %}

    {% view "@button" with {
      button: sidebar_form.button|merge({
        class: "btn--btn btn--primary btn--large sidebar-form__btn"
      })
    } %}
  </form>
  <div class="sidebar-form__note-wrap">
    {{ sidebar_form.note }}
  </div>
</div>