{% set input_type = input.element.type|default('text') %}

{% if input.textarea %}
  <div class="input-block">
    <textarea
      {% if input.textarea.id %}id="{{ input.textarea.id }}"{% endif %}
      class="textarea input-block__textarea {{ input.textarea.class }}"
      name="{{ input.textarea.name }}"
      {% if input.textarea.text %}placeholder="{{ input.textarea.text }}"{% endif %}
      {{ input.textarea.attrs }}
    ></textarea>
  </div>
{% elseif input.picture %}
  {% view "@image" with {
    image: input.picture
  } %}
{% else %}
  <div class="input-block {{ input.wrap.class }}">
    {% if input.label %}
      <label
        {% if input.label.id %}for="{{ input.label.id }}"{% endif %}
        class="input-block__label {{ input.label.class }}"
      >
        {{ input.label.text }}
      </label>
    {% endif %}

    <input
      {% if input.element.id %}id="{{ input.element.id }}"{% endif %}
      class="input-block__input {{ input.element.class }}"
      type="{{ input_type }}"
      name="{{ input.element.name }}"
      {% if input.element.text %}placeholder="{{ input.element.text }}"{% endif %}
      {{ input.element.attrs }}
    >

    {% if input.search_btn %}
      {% view "@button" with {
        button: input.search_btn
      } %}
    {% endif %}

    {% if input.search_btn_with_text %}
      {% view "@button" with {
        button: input.search_btn_with_text
      } %}
    {% endif %}

    {% if input.icon %}
      {% view "@icon" with {
        icon: input.icon
      } %}
    {% endif %}

    {% if input.button %}
      {% view "@button" with {
        button: input.button
      } %}
    {% endif %}
  </div>
{% endif %}
