<div class="tabs {{ tabs.class }}">
  <div role="tablist" class="tabs__btns {{ tabs.btns.class }}">
    {% for btn in tabs.btns.items %}
      {% view "@button" with {
        button: btn|default({})|merge({
          class: "tabs__btn " ~ btn.class
        })
      } %}
    {% endfor %}
  </div>
  {% for content in tabs.content.items %}
    <div
        {% if content.id %}id="{{ content.id }}"{% endif %}
        class="tabs__content {{ content.class }}"
        {{ content.attrs }}
      >
      {% if content.data.type == '&slider' %}
        {% view "&slider" with {
          slider: content.data
        } %}
      {% elseif content.data.type == '^video' %}
        {% view "^video" %}
      {% elseif content.data.type == '^kind_franchise' %}
        {% view "^kind_franchise" %}
      {% elseif content.data.type == '&tabs_card' %}
        <ul class="tabs__card">
          {% for item in content.data.content.items %}
            <li class="tabs__card-item">
              {% view "&tabs_card" with {
                tabs_card: item
              } %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
</div>
