<div class="tabs {{ tabs.class }}">
  <div role="tablist" class="tabs__btns {{ tabs.btns.class }}">
    {% for btn in tabs.btns.items %}
      {% view "@button" with {
        button: btn|default({})|merge({
          class: "tabs__btn " ~ btn.class
        })
      } %}
    {% endfor %}
  </div>
  {% for content in tabs.content.items %}
    <div
        {% if content.id %}id="{{ content.id }}"{% endif %}
        class="tabs__content {{ content.class }}"
        {{ content.attrs }}
      >

      {% if content.data.type == '&detail_tabs_slider' %}
        {% view "&detail_tabs_slider" with {
          detail_tabs_slider: content.data.tabs_slider_content
        } %}
      {% elseif content.data.type == '^video' %}
        {% view "^video" %}
      {% elseif content.data.type == '^kind_franchise' %}
        {% view "^kind_franchise" %}
      {% endif %}
    </div>
  {% endfor %}
</div>
